.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.cityCards {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em 0.5em 1em;
  gap: 1rem;
  overflow: scroll;
}

.noCities {
  text-align: center;
  color: var(--clr-text-secondary);
  font-size: var(--font-size-content);
}
