.header {
  color: var(--clr-primary);
  font-size: var(--font-size-big);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.2em;
  padding: 0.5em 0 0.5em 0;
  align-self: start;
  position: sticky;
  top: 0;
}
