@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
  /* Sunshine colors */

  --clr-yellow: #ffd966;
  --clr-darkblue: #122c3c;
  --clr-text-primary: #fff;
  --clr-text-secondary: #333;

  /* Sunshine font-size font-weight */
  --font-size-big: 3em;
  --font-size-content: 2em;
}

body {
  background-image: url('./assets/sunshine-background.png');
  background-position: center top;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
