@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('./assets/font/PTSans-Regular.ttf') format('ttf');
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Sunshine colors */

  --clr-primary: #ffd966;
  --clr-secondary: #122c3c;
  --clr-secondary-transparent: rgba(18, 44, 60, 0.4);
  --clr-icon-inactive: #fff;
  --clr-text-primary: #fff;
  --clr-text-secondary: #333;
  --clr-border: #000;
  --clr-cards-background: #9dc3e230;
  --clr-error-Msg: #8e2525;

  /* Sunshine font-size font-weight */
  --font-size-big: 3em;
  --font-size-content: 2rem;
}

body {
  background: url('./assets/sunshine-background.png') no-repeat center center
    fixed;
  background-size: cover;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
